.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

.project-card {
	width: 300px;
	height: 400px;
	margin: 80px 40px;
	float: left;
	border: solid black 1px;
	font-family: 'helvetica'
}

.project-text {
	height: 300px;
	padding: 10px 10px;
	font-size: 200%;
}

.project-author {
	padding: 10px 10px;
	float: left;
}
