{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% block page_script %}{% endblock %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse style-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ url_for('main.index') }}">GoodBribes.Club</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav pull-right">
                {% if current_user.is_authenticated() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        {% if current_user.social_id%}
                        <div class="small-profile-picture">
                        <img class="img-rounded profile-thumbnail" src="//graph.facebook.com/{{current_user.facebook_id}}/picture?type=large">
                        </div>
                        {% endif %}
                        
                        {% if current_user.social_id is none%}
                        <div class="small-profile-picture">
                        <img class="img-rounded profile-thumbnail" src="{{ current_user.gravatar(size=256) }}">
                        </div>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">My Profile</a></li>
                        <li><a href="{{ url_for('.edit_profile', username=current_user.username) }}">Edit Profile</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

    {% block page_content %}{% endblock %}
    <div class="content-extend"></div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul>
                        <li>Challenges</li>
                        <li>Hall of Fame</li>
                        <li>Pit of Shame</li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <ul>
                        <li>About Us</li>
                        <li>Terms & Use</li>
                        <li>FAQ & Rules</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>Any question or feedback?</p>
                    <button class="contact-us-btn">Contact Us</button>

                </div>


            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h1>GoodBribes.Club</h1>
                    <h5>© 2015 GoodBribes Club</h5>
                </div>    
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

{% endblock %}
